<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Jay Patil using mapbox and weatherstack APIs</p>
        <img class="portrait" src="/images/rengo.jpg">
    </div>
    
    {{>footer}}
</body>

</html>